## [Standard .NET Ignore]
bin/
obj/
/packages/
TestResults/
*.log
logs/
[L,l]og/
*.user
*.userosscache
*.sln.docuser

## [JetBrains Rider / ReSharper]
.idea/
*.sln.iml
riderModule.iml
_ReSharper.Caches/
*.DotSettings.user

## [Docker]
.dockerignore

## [OS specific]
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.env