## [Standard .NET Ignore]
bin/
obj/
/packages/
TestResults/
*.log
logs/
[L,l]og/
*.user
*.userosscache
*.sln.docuser

## [JetBrains Rider / ReSharper]
.idea/
*.sln.iml
riderModule.iml
_ReSharper.Caches/
*.DotSettings.user

## [Docker]
.dockerignore

## [OS specific]
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

## [VS Code]
.vscode/launch.json
.vscode/tasks.json

.env
PRIVACY_POLICY.md
Templates

landing-page-isis/wwwroot/isis-content-separator.png
landing-page-isis/wwwroot/isis-logotype.png
landing-page-isis/wwwroot/isis-photo.png
