<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    
    <link rel="stylesheet" href="app.css?v=1.0.1"/>
    <link rel="stylesheet" href="landing-page-isis.styles.css"/>
    <link rel="icon" type="image/png" href="isis-logotype.png"/>
    <HeadOutlet/>
</head>
<body>
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="/download.js?v=1.0.1"></script>
    <script src="/app.js?v=1.0.2"></script>

</body>
</html>