<MudAppBar Elevation="0" Color="Color.Transparent" Fixed="true">
    <MudImage Src="isis-logotype.png"
              Alt="Logo Isis"
              Height="40"
              Class="mr-3"/>
    <MudText Typo="Typo.h2" Color="Color.Secondary" Style="font-weight: bold">
        Isis Vitoria
    </MudText>


    <div class="flex-grow-1 d-flex justify-center" style="position: absolute; left: 0; right: 0; pointer-events: none;">
        <div class="d-none d-md-flex" style="pointer-events: auto;">
            <MudButton href="#sobre">Sobre</MudButton>
            <MudButton href="#servicos">Serviços</MudButton>
            <MudButton href="#contato">Contato</MudButton>
        </div>
    </div>
    
    <MudSpacer/>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Login">
        Entrar
    </MudButton>
</MudAppBar>

@code {

}